<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{})}">
    <head>
        <title>Services Page</title>
    </head>
    <body>
        <section id="content">
            <h1>Welcome to services Page</h1>
            <h2>here, you can access services.</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda voluptate temporibus quod maiores ducimus quos voluptatum earum dolorum. Doloremque consequatur esse quod ipsum quas dolore doloribus optio nesciunt quam distinctio.</p>
        </section>
        
    </body>
</html>